{% load i18n %}
{% get_available_languages as languages %}
{% get_current_language as LANGUAGE_CODE %}

{% load static %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'portfolio/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'portfolio/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'portfolio/icons/favicon-16x16.png' %}">
    <link rel="shortcut icon" href="{% static 'portfolio/icons/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'portfolio/icons/favicon.ico' %}" type="image/x-icon">
    <link rel="manifest" href="{% static 'portfolio/site.webmanifest' %}">

    <title>{% block title %}Clément Floret | Portfolio{% endblock %}</title>
    <meta name="description" content="{% block description %}{% translate 'meta_description' %}{% endblock %}"/>
  <script type="module" crossorigin src="{% static 'portfolio/js/index-4dKfwzcZ.js' %}"></script>
  <link rel="stylesheet" crossorigin href="{% static 'portfolio/css/index-QE6LeEdr.css' %}">
    {% block meta %}{% endblock %}
</head>
<body>
<div id="root"></div>
<noscript>{% translate 'noscript_message' %}</noscript>
{% block content %}{% endblock %}
</body>
</html>
