{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
    <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">

    <meta name="description"
          content="{% block description %}Bienvenue sur mon portfolio en ligne.
          Découvrez mes compétences en développement et mes projets web ou mobile.
          Contactez-moi pour discuter de nouvelles opportunités.{% endblock %}">
    <title>{% block title %}Clément Floret | Portfolio{% endblock %}</title>
    <script type="module" crossorigin src="{% static 'static/js/index-DjHDVyX2.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'static/css/index-CRsTR7xH.css' %}">
    {% block meta %}
    <meta name="csrf-token" content={{ csrf_token }}/>
    {% endblock %}
</head>
<body>
<div id="root"></div>
<noscript>You need to enable JavaScript to run this app.</noscript>
{% block content %}{% endblock %}
</body>
</html>
