{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'portfolio/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'portfolio/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'portfolio/icons/favicon-16x16.png' %}">
    <link rel="shortcut icon" href="{% static 'portfolio/icons/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'portfolio/icons/favicon.ico' %}" type="image/x-icon">
    <link rel="manifest" href="{% static 'portfolio/site.webmanifest' %}">

    <meta name="description"
          content="{% block description %}Bienvenue sur mon portfolio en ligne.
          Découvrez mes projets web et mobile, et mes compétences en développement.
          Contactez-moi pour discuter de nouvelles opportunités.{% endblock %}">
    <title>{% block title %}Clément Floret's portfolio{% endblock %}</title>
    <script type="module" crossorigin src="{% static 'portfolio/assets/js/index-BoXoxiGF.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'portfolio/assets/css/index-ZuqoMFvM.css' %}">
</head>
<body>
<div id="root"></div>
<noscript>You need to enable JavaScript to run this app.</noscript>
{% block content %}
{% endblock %}
{{ portfolio_links|json_script:"social-links" }}
</body>
</html>
