@use 'styles/base';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html * {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: base.$duru-regular;
  color: base.$dark-color;
}

button {
  border: none;
  background: none;
  padding: 0;
}

a {
  text-decoration: none;
}

strong {
  color: base.$grey-color;
  font-family: base.$karla-bold;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

textarea {
  resize: vertical;
}

:focus-visible {
  outline: 2px solid base.$dark-color;
}

// THEME - DARK

body.theme-dark {
  color: base.$green-color;

  strong {
    color: base.$white-color;
  }

  :focus-visible {
    outline-color: base.$white-color;
  }
}