@use 'styles/base';

html * {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: base.$duru-regular;
  color: base.$dark-color;
  background-color: base.$green-color;
  background-image: url("./assets/svg/hexagon-1.svg");
  background-repeat: no-repeat;
  cursor: none;
}

button {
  border: none;
  background: none;
  padding: 0;
}

a {
  cursor: none;
  text-decoration: none;
}

strong {
  color: base.$grey-color;
  font-family: base.$karla-bold;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

textarea {
  resize: vertical;
}

:focus-visible {
  outline: 2px solid base.$dark-color;
}

// THEME - DARK

body.theme-dark {
  color: base.$green-color;
  background-color: base.$dark-color;
  background-image: url("./assets/svg/hexagon-1-dark.svg");

  strong {
    color: base.$white-color;
  }

  :focus-visible {
    outline-color: base.$white-color;
  }
}