// -- FONTS -- //

@font-face {
  font-family: 'ruda-regular';
  src: url('../fonts/Ruda-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ruda-bold';
  src: url('../fonts/Ruda-Bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'karla-regular';
  src: url('../fonts/Karla-Regular.woff2') format('woff2'),
  url('../fonts/Karla-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'karla-bold';
  src: url('../fonts/Karla-Bold.woff2') format('woff2'),
  url('../fonts/Karla-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'duru-regular';
  src: url('../fonts/duru-sans-latin-400-normal.woff2') format('woff2'),
  url('../fonts/duru-sans-latin-400-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$ruda-regular: ruda-regular, sans-serif;
$ruda-bold: ruda-bold, sans-serif;
$karla-regular: karla-regular, sans-serif;
$karla-bold: karla-bold, sans-serif;
$duru-regular: duru-regular, sans-serif;

// -- COLORS -- //

$dark-color: #464A4E;
$green-color: #C4D4CF;
$grey-color: #706F6F;
$purple-color: #CA7DF9;
$white-color: #F5F5F5;

// -- FILTERS -- //

$dark-filter: brightness(0) saturate(100%) invert(27%) sepia(7%) saturate(418%) hue-rotate(169deg) brightness(100%) contrast(91%);
$green-filter: brightness(0) saturate(100%) invert(100%) sepia(73%) saturate(185%) hue-rotate(80deg) brightness(87%) contrast(90%);
$grey-filter: brightness(0) saturate(100%) invert(44%) sepia(1%) saturate(1985%) hue-rotate(3deg) brightness(94%) contrast(79%);
$purple-filter: brightness(0) saturate(100%) invert(64%) sepia(71%) saturate(2593%) hue-rotate(224deg) brightness(96%) contrast(104%);
$white-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5596%) hue-rotate(298deg) brightness(112%) contrast(91%);

// -- BREAKPOINTS -- //

$small: 640px;
$medium: 768px;
$large: 1024px;
$x-large: 1280px;
$xx-large: 1536px;

// -- STYLE -- //

body {
  margin: 0;
  font-family: $duru-regular;
  color: $dark-color;
  background-color: $green-color;
  background-image: url("../svg/Hexagon-1.svg");
  background-repeat: no-repeat;
  cursor: none;
}

button {
  border: none;
  background: none;
  padding: 0;
}

a {
  cursor: none;
}

// HEADER

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.75rem;

  &__nav {
    position: relative;
  }

  &__logo:hover svg {
    color: $purple-color;
    transition: color 0.2s ease-in;
  }

  &__logo {
    padding-top: 0.5rem;

    svg {
      width: 3rem;
      height: 3rem;
      color: $dark-color;
      transition: color 0.2s ease-in;
    }
  }
}

// MENU

.menu {
  &__content {
    position: absolute;
    display: none;
    top: -0.5rem;
    right: -0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: $dark-color;
    padding: 1rem 2rem 1rem 0.5rem;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
  }

  &__link {
    a {
      display: inline-block;
      padding: 0.5rem 2rem;
      font-family: $karla-regular;
      font-size: 1.5rem;
      text-transform: uppercase;
      text-decoration: none;
      color: $green-color;
      transition: color 0.2s ease-in;

      &:hover {
        color: $purple-color;
        transition: color 0.2s ease-in;

        ~hr {
          border-color: $purple-color;
          transition: border-color 0.3s ease-in;
          animation: 0.3s ease-in 0s forwards moving-line;
        }

        @keyframes moving-line {
          from {
            margin-right: 100%;
          }
          50% {
            margin-left: 2rem;
            margin-right: 1rem;
          }
          to {
            margin-left: 2rem;
            margin-right: 25%;
          }
        }
      }
    }
  }

  &__divider {
    border: 0.075rem solid $green-color;
    margin: 0 1rem 0.25rem 2rem;
    transition: border-color 0.2s ease-in;
  }

  &__button {
    position: relative;
    width: 3rem;
    height: 3rem;
    color: $dark-color;
    transition: color 0.2s ease-in;

    &:hover {
      cursor: none;
      color: $purple-color;
      transition: color 0.2s ease-in;
    }

    svg {
      width: 3rem;
      height: 3rem;
    }
  }

  &__button-lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover div {
      background-color: $purple-color;
      transition: background-color 0.2s ease-in;
    }
  }

  &__button-lines div {
    height: 0.1875rem;
    width: 2rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    background-color: $dark-color;
  }

  &--active {
    .menu__content {
      display: flex;
    }
  }

  &--close {
    .menu__content {
      animation: 0.3s ease-in-out 0s forwards opening-menu-close;
    }

    @keyframes opening-menu-close {
      from {
        transform: scale(1);
        transform-origin: top right;
      }
      to {
        transform: scale(0);
        transform-origin: top right;
      }
    }
  }

  &--open {
    .menu__content {
      animation: 0.3s ease-in-out 0s forwards opening-menu-open;
    }

    .menu__button-line-top {
      transform: translateY(0.6875rem) rotate(45deg);
      transform-origin: center;
      background-color: $green-color;
      animation: 0.3s ease-in-out 0s menu-button-line-top-in;
    }

    .menu__button-line-middle {
      opacity: 0;
      background-color: $green-color;
      animation: 0.3s ease-in-out 0s menu-button-line-middle-in;
    }

    .menu__button-line-bottom {
      transform: translateY(-0.6875rem) rotate(-45deg);
      transform-origin: center;
      background-color: $green-color;
      animation: 0.3s ease-in-out 0s menu-button-line-bottom-in;
    }

    @keyframes opening-menu-open {
      from {
        transform: scale(0);
        transform-origin: top right;
      }
      to {
        transform: scale(1);
        transform-origin: top right;
      }
    }

    @keyframes menu-button-line-top-in {
      from {
        transform: none;
        background-color: $dark-color;
      }
      50% {
        transform: translateY(0.6875rem);
      }
      to {
        transform: translateY(0.6875rem) rotate(45deg);
        transform-origin: center;
        background-color: $green-color;
      }
    }

    @keyframes menu-button-line-middle-in {
      from {
        opacity: 1;
        background-color: $dark-color;
      }
      to {
        opacity: 0;
        background-color: $green-color;
      }
    }

    @keyframes menu-button-line-bottom-in {
      from {
        transform: none;
        background-color: $dark-color;
      }
      50% {
        transform: translateY(-0.6875rem);
      }
      to {
        transform: translateY(-0.6875rem) rotate(-45deg);
        transform-origin: center;
        background-color: $green-color;
      }
    }
  }

  &--closed {
    .menu__button-line-top {
      animation: 0.3s ease-in-out 0s menu-button-line-top-out;
    }

    .menu__button-line-middle {
      animation: 0.3s ease-in-out 0s menu-button-line-middle-out;
    }

    .menu__button-line-bottom {
      animation: 0.3s ease-in-out 0s menu-button-line-bottom-out;
    }


    @keyframes menu-button-line-top-out {
      from {
        transform: translateY(0.6875rem) rotate(45deg);
        transform-origin: center;
        background-color: $green-color;
      }
      50% {
        transform: translateY(0.6875rem);
      }
      to {
        transform: none;
        background-color: $dark-color;
      }
    }

    @keyframes menu-button-line-middle-out {
      from {
        opacity: 0;
        background-color: $green-color;
      }
      to {
        opacity: 1;
        background-color: $dark-color;
      }
    }

    @keyframes menu-button-line-bottom-out {
      from {
        transform: translateY(-0.6875rem) rotate(-45deg);
        transform-origin: center;
        background-color: $green-color;
      }
      50% {
        transform: translateY(-0.6875rem);
      }
      to {
        transform: none;
        background-color: $dark-color;
      }
    }
  }
}

// MODE

.mode {
  padding: 0 1rem 0 2rem;

  &__button {
    padding-top: 0.25rem;
    color: $green-color;
    transition: color 0.2s ease-in;

    &:active {
      animation: 0.3s ease-in-out 0s forwards rotation-button;

      @keyframes rotation-button {
        from {
          transform: rotate(0);
          transform-origin: center;
        }
        to {
          transform: rotate(360deg);
          transform-origin: center;
        }
      }
    }

    &:hover {
      cursor: none;
      color: $purple-color;
      transition: color 0.2s ease-in;
    }

    svg {
      width: 2.75rem;
      height: 2.75rem;
    }
  }
}

// FOOTER

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;

  &__contact {
    order: 1;
    margin: 0;
    a {
      display: inline-block;
      color: $dark-color;
      text-decoration: none;
      padding: 0.5rem 1rem;
      transition: color 0.2s ease-in;

      &:hover {
        color: $purple-color;
        transition: color 0.2s ease-in;
      }
    }
  }

  &__infos {
    order: 3;
    text-align: center;
    margin: 0.5rem 1rem;
  }
}

.social {
    display: flex;
    flex-direction: row;
    order: 2;

    &-link {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 0.25rem 0.5rem 0 0.5rem;
      margin: 0 0.5rem;

      svg {
        width: 2.5rem;
        height: 2.5rem;
        color: $dark-color;
        transition: color 0.2s ease-in;
      }

      &:hover {
        svg {
          color: $purple-color;
          transition: color 0.2s ease-in;
        }
      }
    }
  }

// CURSOR

.cursor {
  pointer-events: none;

  &__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: hard-light;
    z-index: 100;

    &--big {
      color: #464A4E22;
    }

    &--small {
      color: $dark-color;
    }
  }
}

// -- MEDIA QUERIES -- //

// MEDIA QUERY - MEDIUM

@media all and (min-width: $medium) {
  .header {
    padding: 1rem 1.5rem;
    &__nav {
      position: initial;
      flex-grow: 2;
    }
  }

  .menu {
    &__content {
      position: initial;
      display: flex;
      top: 0;
      right: 0;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: initial;
      padding: 0;
    }

    &__list {
      display: flex;
      flex-direction: row;
      margin: 0 2rem;
    }

    &__link {
      a {
        color: $dark-color;
        padding: 0.5rem 1rem;

        &:hover {
          ~hr {
            animation: 0.5s ease-in-out 0s forwards moving-line-medium;
          }

          @keyframes moving-line-medium {
          from {
            margin-left: 1rem;
            margin-right: 100%;
          }
          50% {
            margin-left: 1rem;
            margin-right: 1rem;
          }
          to {
            margin-left: 1rem;
            margin-right: 40%;
          }
        }
        }
      }
    }

    &__divider {
    margin: 0 1rem 0.25rem 1rem;
  }

    &__button {
      display: none;
    }

    &--close {
      .menu__content {
        animation: none;
      }
    }
  }

  .mode {
    padding: 0;
    &__button {
      color: $dark-color;
    }
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin: 1rem 1.5rem;
    font-size: 0.875rem;

    &__contact {
      order: 1;
    }

    &__infos {
      order: 2;
    }

    &__social {
      order: 3;
    }
  }
}

// MEDIA QUERY - LARGE

@media all and (min-width: $large) {
  .header {
    padding: 1.5rem 2rem;
  }

  .menu {
    &__list {
      margin: 0 3rem;
    }
  }

  .footer {
    margin: 1.5rem 2rem;
  }
}
