// -- FONTS -- //

@font-face {
  font-family: 'ruda-regular';
  src: url('../fonts/Ruda-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ruda-bold';
  src: url('../fonts/Ruda-Bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'karla-regular';
  src: url('../fonts/Karla-Regular.woff2') format('woff2'),
  url('../fonts/Karla-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'karla-bold';
  src: url('../fonts/Karla-Bold.woff2') format('woff2'),
  url('../fonts/Karla-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'duru-regular';
  src: url('../fonts/duru-sans-latin-400-normal.woff2') format('woff2'),
  url('../fonts/duru-sans-latin-400-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$ruda-regular: ruda-regular, sans-serif;
$ruda-bold: ruda-bold, sans-serif;
$karla-regular: karla-regular, sans-serif;
$karla-bold: karla-bold, sans-serif;
$duru-regular: duru-regular, sans-serif;

// -- COLORS -- //

$dark-color: #464A4E;
$green-color: #C4D4CF;
$grey-color: #706F6F;
$purple-color: #CA7DF9;
$white-color: #F5F5F5;

// -- FILTERS -- //

$dark-filter: brightness(0) saturate(100%) invert(27%) sepia(7%) saturate(418%) hue-rotate(169deg) brightness(100%) contrast(91%);
$green-filter: brightness(0) saturate(100%) invert(100%) sepia(73%) saturate(185%) hue-rotate(80deg) brightness(87%) contrast(90%);
$grey-filter: brightness(0) saturate(100%) invert(44%) sepia(1%) saturate(1985%) hue-rotate(3deg) brightness(94%) contrast(79%);
$purple-filter: brightness(0) saturate(100%) invert(64%) sepia(71%) saturate(2593%) hue-rotate(224deg) brightness(96%) contrast(104%);
$white-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5596%) hue-rotate(298deg) brightness(112%) contrast(91%);

// -- BREAKPOINTS -- //

$small: 640px;
$medium: 768px;
$large: 1024px;
$x-large: 1280px;
$xx-large: 1536px;

// -- STYLE -- //

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $duru-regular;
  color: $dark-color;
  background-color: $green-color;
  background-image: url("../svg/hexagon-1.svg");
  background-repeat: no-repeat;
  cursor: none;
}

button {
  border: none;
  background: none;
  padding: 0;
}

a {
  cursor: none;
  text-decoration: none;
}

strong {
  color: $dark-color;
}

ul {
  list-style: none;
  padding: 0;
}

:focus-visible {
  outline: 2px solid $dark-color;
}

// APP

.preload * {
  animation-duration: 0s !important;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 80rem;
  margin: auto;
}

// HEADER

.header {
  position: fixed;
  width: 100vw;
  max-width: 80rem;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 1rem;

    &--scrolldown {
      position: initial;
      background-color: #464A4EB2;
      backdrop-filter: blur(0.25rem);
      -webkit-backdrop-filter: blur(0.25rem);
      outline: thin solid $dark-color;

      .header__logo svg {
        color: $green-color;
      }

      .header__logo:hover svg,
      .header__logo:focus-visible svg {
        color: $purple-color;
      }

      .menu {
        &__button-lines div {
          background-color: $green-color;
        }

        &__link a {
          color: $green-color;
        }

        &__link a:hover,
        &__link a:focus-visible {
          color: $purple-color;
        }
      }

      .mode {
        &__button {
          color: $green-color;

          &:hover, &:focus-visible {
            color: $purple-color;
          }
        }
      }
    }
  }

  &__nav {
    position: relative;
  }

  &__logo:hover, &__logo:focus-visible {
    svg {
      color: $purple-color;
    }
  }

  &__logo {
    padding-top: 0.5rem;

    svg {
      width: 3rem;
      height: 3rem;
      color: $dark-color;
      transition: color 0.2s ease-in;
    }
  }
}

// MENU

.menu {
  &__content {
    position: absolute;
    display: none;
    top: -0.5rem;
    right: -1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(70, 74, 78, 1);
    background-image: url("../svg/hexagon-8.svg");
    backdrop-filter: blur(0.25rem);
    -webkit-backdrop-filter: blur(0.25rem);
    outline: thin solid $dark-color;
    width: 100vw;
    z-index: 10;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 1rem 0;
    height: 100vh;
  }

  &__link {
    a {
      display: inline-block;
      padding: 0.5rem 2rem;
      font-family: $karla-regular;
      font-size: 1.5rem;
      text-transform: uppercase;
      color: $green-color;
      transition: color 0.2s ease-in;

      &:hover, &:focus-visible {
        color: $purple-color;

        ~ hr {
          opacity: 1;
          border-color: $purple-color;
          animation: 0.25s ease-in 0s forwards moving-line;
        }

        @keyframes moving-line {
          from {
            margin-left: 1.25rem;
            margin-right: 1.25rem;
          }
          75% {
            margin-left: 50%;
            margin-right: 50%;
          }
          to {
            margin-left: 3rem;
            margin-right: 3rem;
          }
        }
      }
    }
  }

  &__divider {
    opacity: 0.3;
    border: 0.075rem solid $green-color;
    margin: 0 1.25rem 1.5rem 1.25rem;
  }

  &__button {
    position: relative;
    width: 3rem;
    height: 3rem;
    color: $dark-color;
    transition: color 0.2s ease-in;
    z-index: 20;

    &:hover, &:focus-visible {
      cursor: none;
      color: $purple-color;

      .menu__button-lines div {
        background-color: $purple-color;
      }
    }

    svg {
      width: 3rem;
      height: 3rem;
    }
  }

  &__button-lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__button-lines div {
    height: 0.1875rem;
    width: 2rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    background-color: $dark-color;
    transition: background-color 0.2s ease-in;
  }

  &--active {
    .menu__content {
      display: flex;
    }
  }

  &--open {
    .menu__content {
      animation: 0.3s ease-in-out 0s forwards opening-menu-open;
    }

    .menu__button-line-top {
      transform: translateY(0.6875rem) rotate(45deg);
      transform-origin: center;
      background-color: $green-color;
      animation: 0.3s ease-in-out 0s menu-button-line-top-in;
    }

    .menu__button-line-middle {
      opacity: 0;
      background-color: $green-color;
      animation: 0.3s ease-in-out 0s menu-button-line-middle-in;
    }

    .menu__button-line-bottom {
      transform: translateY(-0.6875rem) rotate(-45deg);
      transform-origin: center;
      background-color: $green-color;
      animation: 0.3s ease-in-out 0s menu-button-line-bottom-in;
    }

    @keyframes opening-menu-open {
      from {
        transform: scale(0);
        transform-origin: top right;
      }
      to {
        transform: scale(1);
        transform-origin: top right;
      }
    }

    @keyframes menu-button-line-top-in {
      from {
        transform: none;
        background-color: $dark-color;
      }
      50% {
        transform: translateY(0.6875rem);
      }
      to {
        transform: translateY(0.6875rem) rotate(45deg);
        transform-origin: center;
        background-color: $green-color;
      }
    }

    @keyframes menu-button-line-middle-in {
      from {
        opacity: 1;
        background-color: $dark-color;
      }
      to {
        opacity: 0;
        background-color: $green-color;
      }
    }

    @keyframes menu-button-line-bottom-in {
      from {
        transform: none;
        background-color: $dark-color;
      }
      50% {
        transform: translateY(-0.6875rem);
      }
      to {
        transform: translateY(-0.6875rem) rotate(-45deg);
        transform-origin: center;
        background-color: $green-color;
      }
    }
  }

  &--close {
    .menu__button-line-top {
      animation: 0.3s ease-in-out 0s menu-button-line-top-out;
    }

    .menu__button-line-middle {
      animation: 0.3s ease-in-out 0s menu-button-line-middle-out;
    }

    .menu__button-line-bottom {
      animation: 0.3s ease-in-out 0s menu-button-line-bottom-out;
    }

    .menu__content {
      animation: 0.3s ease-in-out 0s forwards opening-menu-close;
    }

    @keyframes opening-menu-close {
      from {
        transform: scale(1);
        transform-origin: top right;
      }
      to {
        transform: scale(0);
        transform-origin: top right;
      }
    }


    @keyframes menu-button-line-top-out {
      from {
        transform: translateY(0.6875rem) rotate(45deg);
        transform-origin: center;
        background-color: $green-color;
      }
      50% {
        transform: translateY(0.6875rem);
      }
      to {
        transform: none;
        background-color: $dark-color;
      }
    }

    @keyframes menu-button-line-middle-out {
      from {
        opacity: 0;
        background-color: $green-color;
      }
      to {
        opacity: 1;
        background-color: $dark-color;
      }
    }

    @keyframes menu-button-line-bottom-out {
      from {
        transform: translateY(-0.6875rem) rotate(-45deg);
        transform-origin: center;
        background-color: $green-color;
      }
      50% {
        transform: translateY(-0.6875rem);
      }
      to {
        transform: none;
        background-color: $dark-color;
      }
    }
  }
}

// MODE

.mode {
  align-self: start;
  position: absolute;
  top: 0;
  padding: 0.5rem 1.5rem;

  &__button {
    padding-top: 0.25rem;
    color: $green-color;
    transition: color 0.2s ease-in;

    &:active {
      animation: 0.3s ease-in-out 0s forwards rotation-button;

      @keyframes rotation-button {
        from {
          transform: rotate(0);
          transform-origin: center;
        }
        to {
          transform: rotate(360deg);
          transform-origin: center;
        }
      }
    }

    &:hover, &:focus-visible {
      cursor: none;
      color: $purple-color;
    }

    svg {
      width: 2.75rem;
      height: 2.75rem;
    }
  }
}

// FOOTER

.footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 0.75rem 0.5rem;
  padding: 0 1rem;
  font-size: 0.875rem;

  &__contact {
    order: 1;
    margin: 0;
    a {
      display: inline-block;
      color: $dark-color;
      padding: 0.5rem 1rem;
      transition: color 0.2s ease-in;

      &:hover, &:focus-visible {
        color: $purple-color;
      }
    }
  }

  &__infos {
    order: 3;
    text-align: center;
    margin: 0.5rem 1rem;
  }

  &__social {
    order: 2;
  }
}

// SOCIAL

.social {
  display: flex;
  flex-direction: row;

  &-link {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0.25rem 0.5rem 0 0.5rem;
    margin: 0 0.5rem;

    svg {
      width: 2.5rem;
      height: 2.5rem;
      color: $dark-color;
      transition: color 0.2s ease-in;
    }

    &:hover, &:focus-visible {
      svg {
        color: $purple-color;
      }
    }
  }
}

// CURSOR

.cursor {
  pointer-events: none;

  &__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: hard-light;
    z-index: 100;

    &--big {
      color: #464A4E22;
    }

    &--small {
      color: $dark-color;
    }
  }
}

// HOME

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  text-transform: uppercase;

  &__title {
    font-family: $karla-bold;
    font-size: 2.25rem;
    color: $grey-color;
    margin: 1.5rem 1rem;
  }

  &__subtitle {
    font-family: $ruda-bold;
    font-size: 1.25rem;
    margin: 0 1rem;
  }

  &__social {
    margin: 1rem;
  }
}

// RESUME BUTTON

.resumeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 110px;
  margin: 1rem;
  transition: color 0.3s ease-in;

  a {
    position: absolute;
    color: $dark-color;
    transition: color 0.2s ease-in;

    &:hover, &:focus-visible {
      color: $purple-color;
    }
  }

  &:has(> a:hover), &:has(> a:focus-visible) {
    color: $purple-color;
  }

  svg {
    width: 100px;
    height: 100px;
  }
}

// ABOUT

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  padding: 4rem 0;
  max-width: 26rem;

  &__avatar {
    width: 8rem;
    height: 8rem;
  }

  &__title {
    font-family: $karla-bold;
    font-size: 2rem;
    text-transform: uppercase;
  }

  &__text {
    padding: 0 1.5rem;
    line-height: 1.5rem;
  }

  &__separator {
    width: 7.375rem;
    height: 5.975rem;
    margin: 3.5rem 1rem;
  }

  &__subtitle {
    font-family: $karla-bold;
    font-size: 1.75rem;
    text-transform: uppercase;
  }

  &__skills {
    padding: 0 1.5rem;
    line-height: 1.5rem;

    li {
      display: inline;
    }
  }

  &__icons {
    display: grid;
    grid-gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 0;

    li {
      img {
        width: 45px;
        height: 45px;
      }
    }
  }
}

// CONTACT

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 26rem;
  margin: auto;
  padding: 4rem 0;

  &__title {
    font-family: $karla-bold;
    font-size: 2.25rem;
    text-transform: uppercase;
    margin: 0.5rem 1rem;
  }

  &__infos {
    margin: 0.5rem 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.75rem 0;

    input, textarea {
      font-family: $duru-regular;
      font-size: 1rem;
      color: $dark-color;
      background: none;
      padding: 0.5rem 1rem;
      border: thin solid $grey-color;
      margin: 0.75rem 1rem;

      &[type="submit"] {
        text-transform: uppercase;
        background-color: $dark-color;
        color: $white-color;
        padding: 0.75rem 1rem;
        margin: 1.5rem 1rem;
        cursor: none;
        width: 50%;
        max-width: 13rem;
        align-self: center;
        transition: all 0.2s ease-in;

        &:hover, &:focus-visible {
          color: $dark-color;
          background-color: $purple-color;
        }
      }
    }

    textarea {
      padding: 0.75rem 1rem;
    }
  }
}

// PROJECTS

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 26rem;
  padding: 4rem 0;
  margin: auto;

  &__title {
    font-family: $karla-bold;
    font-size: 2.25rem;
    text-transform: uppercase;
    margin: 0.5rem 1rem;
  }

  &__filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.25rem;
    justify-items: center;
    align-content: center;
    margin: 0 0 4rem 0;

    li {
      transition: all 0.2s ease-in;

      &:has(> button:hover), &:has(> button:focus-visible) {
        margin-bottom: -0.125rem;
        border-bottom: 0.125rem solid $purple-color;
      }
    }
  }

  &__filter-btn {
    position: relative;
    font-family: $duru-regular;
    font-size: 1rem;
    color: $dark-color;
    padding: 0.75rem 1rem;
    transition: color 0.2s ease-in;

    &:hover, &:focus-visible {
      color: $purple-color;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;
    justify-items: center;
    align-content: center;
  }
}

// PROJECT-CARD

.project-card {
  &__thumbnail {
    position: relative;
    display: inline-block;

    &::before {
      content: '';
      position: absolute;
      top: -0.25rem;
      left: -0.25rem;
      right: -0.25rem;
      bottom: -0.25rem;
      background: $dark-color;
      mask-image: url("../svg/polygon.svg");
      -webkit-mask-image: url("../svg/polygon.svg");
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      mask-size: cover;
      -webkit-mask-size: contain;
    }
  }

  &__mask {
    mask-image: url("../svg/polygon.svg");
    -webkit-mask-image: url("../svg/polygon.svg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: cover;
    -webkit-mask-size: contain;
  }

  &__img {
    width: 12rem;
    height: 12rem;
    filter: blur(0.25rem);
    transition: all 0.2s ease-in;
  }

  &__name {
    font-family: $ruda-bold;
    font-size: 1.25rem;
    margin: 0.5rem 0;
  }

  &:hover {
    .project-card__img {
      filter: none;
      transform: scale(125%);
    }
  }
}

// PROJECT

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 0;
  margin: auto;

  &__content {
    margin: 1.5rem 7%;
  }

  &__title {
    font-family: $karla-bold;
    font-size: 2.25rem;
    text-transform: uppercase;
    margin: 0.5rem 1rem;
  }

  &__text {
    margin: 2rem 0 3rem 0;
  }

  &__skills, &__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;

    li {
      margin: 0 0.25rem;
    }

    a {
      color: $dark-color;
      padding: 0.5625rem;
      transition: color 0.2s ease-in;

      &:hover {
        color: $purple-color;
      }
    }
  }
}

// CAROUSEL

.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &__items {
    width: 18rem;
    height: 18rem;
  }

  &__buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    z-index: 50;
  }

  &__button {
    color: $white-color;
    background-color: #464A4E80;
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    transition: background-color 0.2s ease-in;

    &:hover, &:focus-visible {
      background-color: $purple-color;
      cursor: none;
    }
  }

  &__dots {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    bottom: 17%;
    z-index: 40;
  }

  &__dot {
    border-width: 0.3125rem;
    border-style: solid;
    border-radius: 50%;
    margin: 0.25rem;
    border-color: #464A4E80;

    &--active {
      border-color: $purple-color;
    }
  }
}

// CAROUSEL ITEM

.item {
  position: absolute;
  left: 0;
  z-index: 10;
  opacity: 0;
  transition: all 0.2s ease-in;

  &--active {
    z-index: 20;
    opacity: 100%;
  }

  &--prev {
    left: -100%;
  }

  &--next {
    left: 100%;
  }

  &__content {
    position: relative;
    display: inline-block;

    &::before {
      content: '';
      position: absolute;
      top: -0.25rem;
      left: -0.25rem;
      right: -0.25rem;
      bottom: -0.25rem;
      background: $dark-color;
      mask-image: url("../svg/polygon.svg");
      -webkit-mask-image: url("../svg/polygon.svg");
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      mask-size: cover;
      -webkit-mask-size: contain;
    }
  }

  &__mask {
    mask-image: url("../svg/polygon.svg");
    -webkit-mask-image: url("../svg/polygon.svg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: cover;
    -webkit-mask-size: contain;
  }

  &__img {
    width: 18rem;
    height: 18rem;
  }
}

// -- MEDIA QUERIES -- //

// MEDIA QUERY - SMALL (640p)

@media all and (min-width: $small) {
  .header {
    &__content {
      margin: 0.75rem 1rem;
    }
  }

  .menu {
    &__content {
      width: calc(100vw - 2rem);
    }

    &__list {
      height: calc(100vh - 3.5rem);
    }
  }

  .about {
    max-width: 32rem;
    padding: 4.5rem 0;

    &__text {
      line-height: 1.75rem;
    }

    &__separator {
      margin: 4rem 1rem;
    }

    &__skills {
      line-height: 1.75rem;
    }
  }

  .contact {
    max-width: 32rem;

    &__title {
      margin: 1rem;
    }
  }

  .projects {
    &__title {
      margin: 1rem;
    }
  }

  .project-card {
    &__img {
      width: 14rem;
      height: 14rem;
    }
  }

  .project {
    &__content {
      margin: 2rem 12%;
    }

    .project__text {
      margin: 2.5rem 0 3.5rem 0;
    }

    &__skills, &__links {
      margin: 2rem 0;
    }
  }

  .carousel {
    &__items {
      width: 22rem;
      height: 22rem;
    }
  }

  .item {
    &__img {
      width: 22rem;
      height: 22rem;
    }
  }
}

// MEDIA QUERY - MEDIUM (768p)

@media all and (min-width: $medium) {
  .header {
    &__content {
      margin: 1rem;
      padding: 0 2rem;
      transition-property: background-color, outline-color;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;
    }

    &__nav {
      position: initial;
      flex-grow: 2;
    }
  }

  .menu {
    &__content {
      position: initial;
      display: flex;
      top: 0;
      right: 0;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: initial;
      backdrop-filter: initial;
      -webkit-backdrop-filter: initial;
      outline: initial;
      width: initial;
      padding: 0;

    }

    &__list {
      order: 1;
      display: flex;
      flex-direction: row;
      margin: 0 2rem;
      height: initial;
    }

    &__link {
      a {
        color: $dark-color;
        padding: 0.625rem 1rem 0.25rem 1rem;

        &:hover, &:focus-visible {
          ~ hr {
            animation: 0.5s ease-in-out 0s forwards moving-line-medium;
          }

          @keyframes moving-line-medium {
            from {
              margin-left: 1rem;
              margin-right: 100%;
            }
            50% {
              margin-left: 1rem;
              margin-right: 1rem;
            }
            to {
              margin-left: 1rem;
              margin-right: 40%;
            }
          }
        }
      }
    }

    &__divider {
      margin: 0 1rem 0.25rem 1rem;
      opacity: 0;
    }

    &__button {
      display: none;
    }

    &--close {
      .menu__content {
        animation: none;
      }
    }
  }

  .mode {
    order: 2;
    position: initial;
    align-self: initial;
    padding: 0;

    &__button {
      color: $dark-color;
    }
  }

  .footer {
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
    padding: 0 1rem;

    &--home {
      grid-template-columns: 1fr;
    }

    &__contact {
      order: 1;
      justify-self: start;
      align-self: end;
    }

    &__infos {
      order: 2;
      justify-self: center;
      align-self: end;
    }

    &__social {
      order: 3;
      justify-self: end;
      align-self: end;
    }
  }

  .about {
    max-width: 38rem;

    &__text {
      line-height: 1.75rem;
    }

    &__separator {
      margin: 5rem 1rem;
    }

    &__skills {
      line-height: 1.75rem;
    }

    &__icons {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .contact {
    max-width: 38rem;
  }

  .projects {
    &__list {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 8vw;
    }
  }

  .project-card {
    &__img {
      width: 12rem;
      height: 12rem;
    }
  }

  .project {
    &__content {
      margin: 2rem 15%;
    }
  }

  .carousel {
    &__items {
      width: 26rem;
      height: 26rem;
    }
  }

  .item {
    &__img {
      width: 26rem;
      height: 26rem;
    }
  }
}

// MEDIA QUERY - LARGE (1024p)

@media all and (min-width: $large) {
  .header {
    &__content {
      margin: 1.5rem 2rem;
    }
  }

  .menu {
    &__list {
      margin: 0 3rem;
    }
  }

  .footer {
    margin: 1.5rem 2rem;
  }

  .about {
    max-width: 48rem;

    &__separator {
      margin: 6rem 1rem;
    }

    &__icons {
      grid-template-columns: repeat(9, 1fr);
    }
  }

  .contact {
    max-width: 48rem;
  }

  .projects {
    &__list {
      grid-gap: 10vw;
    }
  }

  .project-card {
    &__img {
      width: 14rem;
      height: 14rem;
    }
  }

  .project {
    flex-direction: row;
    text-align: start;

    &__content {
      max-width: 38rem;
      margin: 0 3rem 0 1rem;
    }

    &__title {
      margin: 0.5rem 0;
    }

    &__skills, &__links {
      justify-content: start;

      a {
        padding: 0.25rem 0;
      }
    }
  }

  .carousel {
    &__items {
      width: 28rem;
      height: 28rem;
    }
  }

  .item {
    &__img {
      width: 28rem;
      height: 28rem;
    }
  }
}

@media all and (min-width: $x-large) {
  .project {
    &__img {
      width: 32rem;
      height: 32rem;
    }

    &__content {
      max-width: 42rem;
      margin: 0 3rem 0 2rem;
    }
  }
}
