@use 'base';

// CONTACT_MODAL

.contact-modal {
  position: relative;
  z-index: 10;

  &__background {
    position: fixed;
    inset: 0;
    background-color: base.$grey-color;
    opacity: 0.8;
    transition: opacity 300ms;
  }

  &__modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    height: 100%;
    padding: 1rem;
    z-index: 10;
    overflow-y: auto;
  }

  &__content {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: base.$white-color;
    box-shadow: 6px 20px 25px -5px base.$grey-color, 0 8px 10px -6px base.$grey-color;
  }

  &__head {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }

  &__close-button {
    color: base.$dark-color;
    border-radius: 0.25rem;
    padding: 1rem;
    filter: drop-shadow(0 4px 3px rgba(80,80,80,0.1)) drop-shadow(0 2px 2px rgba(80,80,80,0.1));

    svg {
      height: 2rem;
      width: auto;
      transition: scale 200ms ease-in;
    }

    &:hover {
      color: base.$purple-color;

      svg {
        scale: 1.2;
      }
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0.5rem auto 0 auto;
  }

  &__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: base.$green-color;

    svg {
      width: 3rem;
      height: auto;
    }
  }

  &__message {
    font-size: 1.125rem;
    color: base.$grey-color;
    margin: 0.5rem auto;
  }
}

// -- MEDIA QUERIES -- //

// MEDIA QUERY - SMALL (640p)

@media all and (min-width: base.$small) {
  .contact-modal {
    &__main {
      padding: 1rem 1.5rem;
    }

    &__icon {
      svg {
        width: 4rem;
        height: auto;
      }
    }

    &__message {
      margin: 0.5rem;
    }
  }
}

// MEDIA QUERY - MEDIUM (768p)

@media all and (min-width: base.$medium) {
  .contact-modal {
    &__message {
      margin: 1rem;
    }
  }
}

// MEDIA QUERY - LARGE (1024p)

@media all and (min-width: base.$large) {
  .contact-modal {
    &__main {
      padding: 2rem 2.5rem;
    }
  }
}

// THEME - DARK

body.theme-dark {
  .contact-modal {
    &__background {
      background-color: base.$dark-color;
    }

    &__content {
      box-shadow: 6px 20px 25px -5px base.$darker-color, 0 8px 10px -6px base.$darker-color;
    }
  }
}