@use 'base';

// CURSOR

.cursor {
  pointer-events: none;

  &__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: hard-light;
    z-index: 100;
    transition-property: color, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;

    &--big {
      color: rgba(base.$dark-color, 14%);
      transform: scale(1.3);

      &-hover {
        color: rgba(base.$dark-color, 80%);
        transform: scale(0.6);
      }
    }

    &--small {
      color: base.$dark-color;
      transform: scale(1);

      &-hover {
        color: base.$darker-color;
        transform: scale(1.3);
      }
    }
  }
}

// THEME - DARK

body.theme-dark {
  .cursor {
    &__ball {
      &--big {
        color: rgba(base.$green-color, 14%);

        &-hover {
          color: rgba(base.$green-color, 60%);
        }
      }

      &--small {
        color: base.$green-color;

        &-hover {
          color: base.$green-color;
        }
      }
    }
  }
}