@use 'base';

// HOME

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  text-transform: uppercase;

  &__title {
    font-family: base.$karla-bold;
    font-size: 2.25rem;
    margin: 1.5rem 1rem;
  }

  &__subtitle {
    font-family: base.$ruda-bold;
    font-size: 1.25rem;
    margin: 0 1rem;
  }

  &__social {
    margin: 1rem;
  }
}

// -- MEDIA QUERIES -- //

// MEDIA QUERY - SMALL (640p)

@media all and (min-width: base.$small) {
  .home {
    &__title {
      font-size: 2.5rem;
    }
  }
}

// MEDIA QUERY - MEDIUM (768p)

@media all and (min-width: base.$medium) {
  .home {
    max-width: 38rem;

    &__title {
      font-size: 2.75rem;
    }
  }
}

// MEDIA QUERY - LARGE (1024p)

@media all and (min-width: base.$large) {
  .home {
    max-width: 42rem;
    &__title {
      font-size: 3rem;
    }

    &__subtitle {
      font-size: 1.5rem;
    }
  }
}

// MEDIA QUERY - X-LARGE (1280p)

@media all and (min-width: base.$x-large) {
  .home {
    max-width: 48rem;
    &__title {
      font-size: 3.5rem;
    }

    &__subtitle {
      font-size: 1.75rem;
    }
  }
}