@use 'base';

// PROJECT

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6rem 0;
  margin: auto;

  &__content {
    margin: 1.5rem 7%;
  }

  &__title {
    font-family: base.$karla-bold;
    font-size: 2.25rem;
    text-transform: uppercase;
    margin: 0.5rem 1rem;
  }

  &__text {
    font-size: 1.125rem;
    margin: 2rem 0 3rem 0;
  }

  &__skills, &__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;

    li {
      margin: 0 0.25rem;
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: base.$dark-color;
      width: 3.5rem;
      margin: 0.5rem;
      padding: 0.5625rem;

      &:hover, &:focus-visible {
        color: base.$purple-color;

        .project__icon {
          filter: base.$purple-filter;
        }
      }
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    filter: base.$dark-filter;
  }
}

// -- MEDIA QUERIES -- //

// MEDIA QUERY - SMALL (640p)

@media all and (min-width: base.$small) {
  .project {
    padding: 9rem 0;
    margin-bottom: 8rem;

    &__content {
      margin: 2rem 12%;
    }

    &__title {
      font-size: 2.5rem;
    }

    .project__text {
      margin: 2.5rem 0 3.5rem 0;
    }

    &__skills, &__links {
      margin: 2rem 0;

      a {
        width: 4rem;
      }
    }
  }
}

// MEDIA QUERY - MEDIUM (768p)

@media all and (min-width: base.$medium) {
  .project {
    margin-bottom: 10rem;

    &__content {
      margin: 2rem 15%;
    }

    &__title {
      font-size: 2.75rem;
    }
  }
}

// MEDIA QUERY - LARGE (1024p)

@media all and (min-width: base.$large) {
  .project {
    flex-direction: row;
    text-align: start;
    padding: 12rem 0;
    margin-bottom: 12rem;

    &__content {
      max-width: 30rem;
      margin: 0 3rem 0 1rem;
    }

    &__title {
      font-size: 3rem;
      margin: 0.5rem 0;
    }

    &__skills, &__links {
      justify-content: start;

      a {
        padding: 0.25rem 0;
        margin: 0.5rem 1rem 0.5rem 0;
      }
    }
  }
}

// MEDIA QUERY - X-LARGE (1280p)

@media all and (min-width: base.$x-large) {
  .project {
    margin-bottom: 12rem;

    &__content {
      max-width: 38rem;
      margin: 0 3rem 0 2rem;
    }

    &__title {
      font-size: 3.5rem;
    }
  }
}

// THEME - DARK

body.theme-dark {
  .project {
    &__icon {
      filter: base.$green-filter;
    }

    &__skills, &__links {
      a {
        color: base.$green-color;

        &:hover, &:focus-visible {
          color: base.$purple-color;
        }
      }
    }
  }
}