@use 'base';

// PROJECT-LIST

.projects-list {
  &__content {
    width: 90vw;
  }

  &__buttons-yaxis {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__buttons-xaxis {
    position: absolute;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: base.$green-color;
    background-color: rgba(base.$dark-color, 80%);
    border: thin solid base.$green-color;
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    transition: all 0.2s ease-in;
    z-index: 50;

    &:hover, &:focus-visible {
      background-color: base.$purple-color;
      border-width: 0;
      transform: scale(110%);
    }

    svg {
      color: base.$green-color;
      width: 2.75rem;
      height: 2.75rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vw;
    max-height: 30rem;
    padding: 3rem 0;
  }
}

// -- MEDIA QUERIES -- //

// MEDIA QUERY - SMALL (640p)

@media all and (min-width: base.$small) {
  .projects-list {
    &__content {
      width: 85vw;
    }

    &__buttons-yaxis {
      display: none;
    }
    &__buttons-xaxis {
      display: flex;
    }

    &__list {
      height: 48vw;
      max-height: 20rem;
      padding: 0;
    }
  }
}

// MEDIA QUERY - MEDIUM (768p)

@media all and (min-width: base.$medium) {
  .projects-list {
    &__content {
      width: 82vw;
    }

    &__list {
      max-height: 22rem;
    }
  }
}

// MEDIA QUERY - LARGE (1024p)

@media all and (min-width: base.$large) {
  .projects-list {
    &__content {
      width: 90vw;
    }

    &__buttons-xaxis {
      width: 92%;
    }

    &__list {
      height: 34vw;
      max-height: 26rem;
    }
  }
}

// MEDIA QUERY - X-LARGE (1280p)

@media all and (min-width: base.$x-large) {
  .projects-list {
    &__buttons-xaxis {
      width: 80rem;
    }

    &__buttons-xaxis {
      width: 88%;
      max-width: 76rem;
    }

    &__list {
      height: 32vw;
      max-height: 34rem;
    }
  }
}