@use 'base';

// PROJECT-CARD

.project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &-carrousel {
    position: absolute;
    z-index: 10;
    opacity: 0;
    margin: 0.75rem;
    transition: all 4s ease-in;

    &--prev {
      bottom: 50%;
      opacity: 60%;
      scale: 75%;
    }

    &--active {
      z-index: 20;
      opacity: 100%;
    }

    &--next {
      top: 50%;
      opacity: 60%;
      scale: 75%;
    }
  }

  &__img {
    height: 55vw;
    width: 80vw;
    object-fit: cover;
    transition: all 0.3s ease-in;
  }

  &__text {
    position: absolute;
    margin: 0.5rem 0;
    color: base.$white-color;
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }

  &__name {
    font-family: base.$ruda-bold;
    font-size: 1.5rem;
    margin: 0.75rem 0;
  }

  &__type {
    font-family: base.$ruda-regular;
    font-size: 1rem;
    margin: 0.25rem 0;
  }

  &:hover, &:focus-visible {
    .project-card {
      &__img {
        filter: brightness(30%) blur(0.025rem);
        transform: scale(105%);
      }

      &__text {
        opacity: 1;
      }
    }
  }
}

// -- MEDIA QUERIES -- //

// MEDIA QUERY - SMALL (640p)

@media all and (min-width: base.$small) {
  .project-card {
    height: 22rem;

    &__img {
      height: 24rem;
    }
  }
}

// MEDIA QUERY - MEDIUM (768p)

@media all and (min-width: base.$medium) {
  .project-card {
    height: 26rem;

    &__img {
      height: 28rem;
    }
  }
}

// MEDIA QUERY - LARGE (1024p)

@media all and (min-width: base.$large) {
  .project-card {
    height: 30rem;

    &__img {
      height: 32rem;
    }
  }
}