@use 'base';

// PROJECTS

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 26rem;
  padding: 6rem 0;
  margin: auto;

  &__title {
    font-family: base.$karla-bold;
    font-size: 2.25rem;
    text-transform: uppercase;
    margin: 0.5rem 0.5rem 5rem 0.5rem;
  }

  &__filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.25rem;
    justify-items: center;
    align-content: center;
    margin: 0.5rem 0 1rem 0;

    li {
      transition: all 0.2s ease-in;

      &:has(> button:hover), &:has(> button:focus-visible) {
        margin-bottom: -0.125rem;
        border-bottom: 0.125rem solid base.$purple-color;
      }
    }
  }

  &__filter-link {
    position: relative;
    font-family: base.$ruda-regular;
    font-size: 1.25rem;
    color: base.$dark-color;
    padding: 0.75rem 1rem;
    transition: color 0.2s ease-in;

    &:hover, &:focus-visible {
      color: base.$purple-color;
    }
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
}

// -- MEDIA QUERIES -- //

// MEDIA QUERY - SMALL (640p)

@media all and (min-width: base.$small) {
  .projects {
    max-width: 32rem;
    padding: 7rem 0;
    margin-bottom: 8rem;

    &__title {
      font-size: 2.5rem;
      margin: 0.5rem 0.5rem 7rem 0.5rem;
    }

    &__filters {
      width: 60%;
      margin-bottom: 2rem;
    }

    &__list {
      margin: 0.5rem 0;
    }
  }
}

// MEDIA QUERY - MEDIUM (768p)

@media all and (min-width: base.$medium) {
  .projects {
    max-width: 38rem;
    margin-bottom: 10rem;

    &__title {
      font-size: 2.75rem;
      margin: 0.5rem 0.5rem 8rem 0.5rem;
    }

    &__filter-link {
      font-size: 1.375rem;
    }
  }
}

// MEDIA QUERY - LARGE (1024p)

@media all and (min-width: base.$large) {
  .projects {
    max-width: 48rem;
    padding: 8rem 0;
    margin-bottom: 12rem;

    &__title {
      font-size: 3rem;
    }
  }
}

// MEDIA QUERY - X-LARGE (1280p)

@media all and (min-width: base.$x-large) {
  .projects {
    max-width: 48rem;
    padding: 8rem 0;
    margin-bottom: 14rem;

    &__title {
      font-size: 3.5rem;
      margin: 0.5rem 0.5rem 10rem 0.5rem;
    }

    &__filters {
      margin-bottom: 3rem;
    }

    &__filter-link {
      font-size: 1.5rem;
    }
  }
}

// THEME - DARK

body.theme-dark {
  .projects {
    &__filter-link {
      color: base.$green-color;

      &:hover, &:focus-visible {
        color: base.$purple-color;
      }
    }

    &__list li {
      border-color: base.$grey-color;
    }
  }
}